<a href="https://colab.research.google.com/github/Mallugaridharmesh/Python/blob/main/List_method_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List method:-
 > Python List Methods are the built-in methods in lists used to perform operations on Python lists/arrays
1. Appened
2. clear
3. copy
4. count
5. extend
6. index
7. insert
8. pop
9. remove
10. reverse
11. sort
12. min
13. max

* Appened:
> Python list append() method is used to add elements at the end of the list.

In [ ]:
#append
a=[1,2,3]
a.append(7)
print(a)

[1, 2, 3, 7]

* clear():-
> Removes all the elements from the list

In [ ]:
#clear()
a=[1,2,3]
a.clear()
print(a)

[]

* copy():-
> Returns a copy of the list

In [ ]:
#copy
a=[1,2,3]
a.copy()
print(a)

[1, 2, 3]

* count
> Returns the number of elements with the specified value

In [ ]:
#count():
a=[1,2,2,2,3]
a= a.count(2)
print(a)

3

* extend
> Add the elements of a list (or any iterable), to the end of the current list

In [ ]:
# extend
a=[1,2,3]
b=[1,2,6,7]
a.extend(b)
print(a)

[1, 2, 3, 1, 2, 6, 7]

* index()
> Returns the index of the first element with the specified value

In [ ]:
#index():
a = ['dinesh', 'ravi', 'dharmesh']
b = a.index("dharmesh")
print(b)

2

* insert():
> Adds an element at the specified position

In [ ]:
#insert():
a = ['dinesh', 'ravi', 'dharmesh']
a.insert(2,"chinna")
print(a)

['dinesh', 'ravi', 'chinna', 'dharmesh']

* pop():
> Removes the element at the specified position

In [ ]:
#pop();
a = ['dinesh', 'ravi', 'dharmesh']
a.pop(2)
print(a)

['dinesh', 'ravi']

* remove():
>Removes the first item with the specified value

In [ ]:
#remove();
a = ['dinesh', 'ravi', 'dharmesh']
a.remove("dinesh")
print(a)

['ravi', 'dharmesh']

* reverses():
> Reverses the order of the list

In [ ]:
#reverses():
a = ['dinesh', 'ravi', 'dharmesh']
a.reverse()
print(a)

['dharmesh', 'ravi', 'dinesh']

* sort():
> Sorts the list

In [ ]:
#sort():
a = [1,3,2]
a.sort()
print(a)

[1, 2, 3]

In [ ]:
#max
a = [1,3,2]
a=max(a)
print(a)

3

In [ ]:
#min
a = [1,3,2]
a=min(a)
print

In [ ]:
#change the range of items list:example(4:5)
a=["dinesh","ravi","dharmesh"]
a[2:2]=["chinna"]
print(a)

['dinesh', 'ravi', 'chinna', 'dharmesh']

# List method:-
1. Appened
2. clear
3. copy
4. count
5. extend
6. index
7. insert
8. pop
9. remove
10. reverse
11. sort
12. min
13. max

In [ ]:
#append
a=[1,2,3]
a.append(7)
print(a)

[1, 2, 3, 7]

* clear():-
> Removes all the elements from the list

In [ ]:
#clear()
a=[1,2,3]
a.clear()
print(a)

[]

* copy():-
> Returns a copy of the list

In [ ]:
#copy
a=[1,2,3]
a.copy()
print(a)

[1, 2, 3]

* count
> Returns the number of elements with the specified value

In [ ]:
#count():
a=[1,2,3]
a= a.count(2)
print(a)

1

* extend
> Add the elements of a list (or any iterable), to the end of the current list

In [ ]:
# extend
a=[1,2,3]
b=[1,2,6,7]
a.extend(b)
print(a)

[1, 2, 3, 1, 2, 6, 7]

* index()
> Returns the index of the first element with the specified value

In [ ]:
#index():
a = ['dinesh', 'ravi', 'dharmesh']
b = a.index("dharmesh")
print(b)

2

* insert():
> Adds an element at the specified position

In [ ]:
#insert():
a = ['dinesh', 'ravi', 'dharmesh']
a.insert(2,"chinna")
print(a)

['dinesh', 'ravi', 'chinna', 'dharmesh']

* pop():
> Removes the element at the specified position

In [ ]:
#pop();
a = ['dinesh', 'ravi', 'dharmesh']
a.pop(2)
print(a)

['dinesh', 'ravi']

* remove():
>Removes the first item with the specified value

In [ ]:
#remove();
a = ['dinesh', 'ravi', 'dharmesh']
a.remove("dinesh")
print(a)

['ravi', 'dharmesh']

* reverses():
> Reverses the order of the list

In [ ]:
#reverses():
a = ['dinesh', 'ravi', 'dharmesh']
a.reverse()
print(a)

['dharmesh', 'ravi', 'dinesh']

* sort():
> Sorts the list

In [ ]:
#sort():
a = [1,3,2]
a.sort()
print(a)

[1, 2, 3]

In [ ]:
#max
a = [1,3,2]
a=max(a)
print(a)

3

In [ ]:
#min
a = [1,3,2]
a=min(a)
print

In [ ]:
#append
a=[1,2,3]
a.append(7)
print(a)

[1, 2, 3, 7]

* clear():-
> Removes all the elements from the list

In [ ]:
#clear()
a=[1,2,3]
a.clear()
print(a)

[]

* copy():-
> Returns a copy of the list

In [ ]:
#copy
a=[1,2,3]
a.copy()
print(a)

[1, 2, 3]

* count
> Returns the number of elements with the specified value

In [ ]:
#count():
a=[1,2,3]
a= a.count(2)
print(a)

1

* extend
> Add the elements of a list (or any iterable), to the end of the current list

In [ ]:
# extend
a=[1,2,3]
b=[1,2,6,7]
a.extend(b)
print(a)

[1, 2, 3, 1, 2, 6, 7]

* index()
> Returns the index of the first element with the specified value

In [ ]:
#index():
a = ['dinesh', 'ravi', 'dharmesh']
b = a.index("dharmesh")
print(b)

2

* insert():
> Adds an element at the specified position

In [ ]:
#insert():
a = ['dinesh', 'ravi', 'dharmesh']
a.insert(2,"chinna")
print(a)

['dinesh', 'ravi', 'chinna', 'dharmesh']

* pop():
> Removes the element at the specified position

In [ ]:
#pop();
a = ['dinesh', 'ravi', 'dharmesh']
a.pop(2)
print(a)

['dinesh', 'ravi']

* remove():
>Removes the first item with the specified value

In [ ]:
#remove();
a = ['dinesh', 'ravi', 'dharmesh']
a.remove("dinesh")
print(a)

['ravi', 'dharmesh']

* reverses():
> Reverses the order of the list

In [ ]:
#reverses():
a = ['dinesh', 'ravi', 'dharmesh']
a.reverse()
print(a)

['dharmesh', 'ravi', 'dinesh']

* sort():
> Sorts the list

In [ ]:
#sort():
a = [1,3,2]
a.sort()
print(a)

[1, 2, 3]

In [ ]:
#max
a = [1,3,2]
a=max(a)
print(a)

3

In [ ]:
#min():
a = [4,3,2]
a=min(a)
print