<a href="https://colab.research.google.com/github/Mallugaridharmesh/Python/blob/main/loop_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# loop statement:
> used to execute a block of statements repeatedly until a given condition is satisfied

1. while loop:-
> python while loop is used to run a block code until a certain condition is met
* syntax:
while condition:
* A while loop evaluated the condition
* if the condition evauater to true,the code inside the while loop is executed
* condition is evaluated again
* this process continues until the condition
* when condition evaluated to false , the loop statement
* here:
* A while loop evaluates the condition
* if condition is true,the code inside the while loop is executed
* condition evaluated again
* this process continues until condition is false
* when the condition evaluates to false, then the code stops

In [ ]:
# program to display numbers from 1 t0 5
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5


2. For loop
* the for loop is used for iterating over a sequence (that is either a list,tuple,dict,string ,or range)
* syntax:
* for val in sequence : #statement
* Here , val accesses each item of the sequence on each iteration
* The loop continues until we reach the last item in the sequence.

In [ ]:
# for loop example in string:
str="python"
for i in str:
    print(i)

p
y
t
h
o
n

In [ ]:
# for loop example in list data:
list=[1,2,3,4,5]
for i in list:
    print(i)

1
2
3
4
5

In [ ]:
# for loop example in tuple:
tuple=(1,2,3,4,5)
for i in tuple:
    print(i)

1
2
3
4
5

In [ ]:
# for loop example in dict:
dict={1:"one",2:"two",3:"three"}
for key,value in dict.items():
    print(key,value)

1 one
2 two
3 three

In [ ]:
# Q2 python program to find a given number even or odd
numbers = {4,5,6,7,3,2,1}
for i in numbers:
    if i%2==0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd

In [ ]:
# check whether given word is a palindrome or not in for loop statement:
word = input("Enter a word:")
for i in word:
    if word == word[::-1]:
        print("word is a palindrome")
        break
    else:
        print("word is not a palindrome")

Enter a word:madam
word is a palindrome

In [ ]:
#write a python program to find smallest among three numbers in loop statement
num1 = 10
num2 = 5
num3 = 15
for i in num1,num2,num3:
    if num1 <= num2 and num1 <= num3:
        smallest = num1
    elif num2 <= num1 and num2 <= num3:
        smallest = num2
    else:
        smallest = num3
    print("smallest number is:",smallest)

smallest number is: 5
smallest number is: 5
smallest number is: 5

In [ ]:
##find the second largest number in a list in loop statement?
numbers = [12, 45, 2, 41,10, 8, 6, 4]
largest = numbers[0]
second_largest = None
for number in numbers:
    if number > largest:
        second_largest = largest
        largest = number
    elif second_largest is None or number > second_largest:
        second_largest = number
print("The second largest number is:", second_largest)

The second largest number is: 41

In [ ]:
#python program to check vote eligiblity
age = [56,12,13,18,23,45]
for n in age:
    if n >= 18:
        print(f"Age {n} is  eligible")
    else:
        print(f"Age {n} is not eligible")

Age 56 is  eligible
Age 12 is not eligible
Age 13 is not eligible
Age 18 is  eligible
Age 23 is  eligible
Age 45 is  eligible

In [ ]:
#calculate BMI and categorize it
#calculate BMI and categorize it
weight = 70  # in kilograms
height = 1.75  # in meters
bmi = weight / (height ** 2)
if bmi < 18.5:
  category = "Underweight"
elif 18.5 <= bmi < 25:
  category = "Normal weight"
elif 25 <= bmi < 30:
  category = "Overweight"
else:
  category = "Obese"
print("Your BMI is: bmi:.{2f}")
print("Your BMI category is:{category}")

Your BMI is: bmi:.{2f}
Your BMI category is:{category}

write a python program to check given year is leap year are not ?

In [ ]:
years = [2004,2003,2002,1985]  # List of years to check
for year in years:
    if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
        print(f"{year} is a leap year")
    else:
        print(f"{year} is not a leap year")

2004 is a leap year
2003 is not a leap year
2002 is not a leap year
1985 is not a leap year

 write a python program to check if a list is empty or nor?

In [ ]:
# 3. write a python program to check if a list is empty or nor?
my_list = []
for item in my_list:
    print("List is not empty")
else:
    print("List is empty")

List is empty

write a python code to calculate grade of a students

In [ ]:
#write a python code to calculate grade of a student in loop statement.
num_students = int(input("Enter the number of students: "))
for i in (num_students):  # Loop for each student
    grade = int(input("Enter your grade: "))

    if grade >= 90:
        print("A")
    elif grade >= 80:
        print("B")
    elif grade >= 70:
        print("C")
    elif grade >= 60:
        print("D")
    elif grade >= 50:
        print("E")
    else:
        print("F")

In [ ]:
hello = "wellcome to Data science class at 5:30 pm"
for d in hello:
    print(d)

w
e
l
l
c
o
m
e

t
o

D
a
t
a

s
c
i
e
n
c
e

c
l
a
s
s

a
t

5
:
3
0

p
m

In [ ]:
list = ["cool","idly","sambar","chicken briyani"]
for value in list:
    print(value)

cool
idly
sambar
chicken briyani