<a href="https://colab.research.google.com/github/Mallugaridharmesh/Python/blob/main/python_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data types


1.  Basic
*   integer
*   float
*   complex
*   Boolean
2.  Advance
*   list
*   string
*   tuple
*   Dictionary
*   set

# Basic
* integer:-


> Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [ ]:
x = 1
y = 3
z = -3
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

* float(decimal value):


> Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [ ]:
x = 6.2
y = -4.2
z = 6.234
print(type(x))
print(type(y))
print(type(z))
print(x)

<class 'float'>
<class 'float'>
<class 'float'>
6.2

* complex(real number + imaginary number(J)):
> Complex numbers are written with a "j" as the imaginary part:

In [ ]:
x = (4+2j)
print(type(x))

<class 'complex'>

* Boolean
> In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

In [ ]:
print (7>1)

True

In [ ]:
a=7>1
b=7<1
c=10<11
d=7>10
print(a)
print(b)
print(c)
print(d)

True
False
True
False

# operators
* arithmetic operator
* assigment operator
* complex operator
* logical operator
* identity operator
* membership operator

* arithmetic operator
> Arithmetic operators are used with numeric values to perform common mathematical operations:

In [ ]:
a=4
b=7
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

11
-3
28
0.5714285714285714
4
16384
0

* Assigment operator
Assignment operators are used to assign values to variables:

In [ ]:
    a = 5
    b = 3
    a = b
    print(a)
    a += b
    print(a)
    a -= b
    print(a)
    a *= b
    print(a)
    a /= b
    print(a)
    a %= b
    print(a)
    a **= b
    print(a)
    a //= b
    print(a)

3
6
3
9
3.0
0.0
0.0
0.0

* complex operator
> are used to compare two values:
* == 	Equal
* != 	Not equal
*   > 	Greater than
* < 	Less than
* >>= 	Greater than or equal to
* <= 	Less than or equal to

In [ ]:
    a = 5
    b = 3
    print(a == b)
    print(a!=b)
    print(a<b)
    print(a>b)
    print(a<=b)
    print(a>=b)

False
True
False
True
False
True

* logical operator(And , or , not)
> And :Returns True if both statements are true
*  Or :Returns True if one of the statements is true
> Not : Reverse the result, returns False if the result is true(F->T,T->F)

In [ ]:
#And
n = 8>4 and 5<13
print(n)

True

In [ ]:
#Or
n = 8>4 or 5<13
print(n)

True

In [ ]:
#Not
n = (8 > 4) and (not (5 < 13))
print(n)

False

* identity operator:(is , is not)->command

In [ ]:
#is
a = "hello"
b = "my world"
print( a is b)

False

In [ ]:
#is not
a = "hello"
b = "my world"
print( a is not b)

True

* membership operator:(in, not in )->command

In [ ]:
#in
a = "hello"
b = "my world"
print( a in b)

False

In [ ]:
# not in
a = "hello"
b = "my world"
print( a not in b)

True

* List

> Lists are created using square brackets:
* mylist = [1,2,3,4,5,6]

In [ ]:
#list
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

* Index:-
1. positive-(0,∞) left to right
2. negative-(-1,-∞) right to left

In [ ]:
#positive
a = [1,2,3,4,5,6,7,8,9]
a[6]

7

In [ ]:
#negative
a = [-1,-2,-3,-4,-5,-6,-7,-8,-9]
a[-3]

-7

*.concatenation
> String concatenation means add strings together.

In [ ]:
#concatenation
a=[1,2,3]
b=[1,2,6,7]
c=a+b
print(c)

[1, 2, 3, 1, 2, 6, 7]

* Repetition
> The repeat method is used to repeat a string a specified number of times.

In [ ]:
#repetition
a=[3,4,5,2]
b=a*(4)
print(b)

[3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2]

* change list items:-
> To change the value of a specific items, refer to the index number:

In [ ]:
#change list items
a=["dinesh","ravi","dharmesh"]
a[1]="chinna"
print(a)

['dinesh', 'chinna', 'dharmesh']

In [ ]:
#change the range of items list:example(4:5)
a=["dinesh","ravi","dharmesh"]
a[2:2]=["chinna"]
print(a)

['dinesh', 'ravi', 'chinna', 'dharmesh']