<a href="https://colab.research.google.com/github/Mallugaridharmesh/Python/blob/main/tuples_Ace_immu%2Cmethods%2Coperators_%2CAdd%26up%2C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* Accessing of tuples:-
> tuples support index and slicing , just like lists

In [ ]:
#Accessing of tuples :-
fruits = ("apple","banana","cherry")
print(fruits[1])#index
print(fruits[0:7])#slicing

banana
('apple', 'banana', 'cherry')

In [ ]:
#Accessing of tuples :-
fruits = ("apple","banana","cherry")
print(fruits[-1])#index
print(fruits[-3:-1])#slicing

cherry
('apple', 'banana')

In [ ]:
#Accessing of tuples :-
fruits = ("apple","banana","cherry")
print(fruits[0])#index

apple

In [ ]:
#Accessing of tuples :-
fruits = ("apple","banana","cherry")
print(fruits[-3:-1])#slicing

('apple', 'banana')

In [ ]:
#Accessing of tuples :-
fruits = ("apple","banana","cherry")
print(fruits[0:2])#slicing

('apple', 'banana')

In [ ]:
#Accessing of tuples :-
fruits = ("apple","banana","cherry")
print(fruits[-2:-1])#slicing

('banana',)

In [ ]:
#Accessing of tuples :-
fruits = ("apple","banana","cherry")
print(fruits[0:1])#slicing

('apple',)

In [ ]:
#Accessing of tuples :-
fruits = ("apple","banana","cherry")
print(fruits[2])#index

cherry

In [ ]:
#Accessing of tuples :-
fruits = ("apple","banana","cherry")
print(fruits[-1])#index

cherry

In [ ]:
#Accessing of tuples :-
fruits = ("apple","banana","cherry")
print(fruits[0:1])#slicing

('apple',)

* immutability:-
> once a tuple is created , you cannot change its elment or add/remove elments
> it is (unchangeable)

In [ ]:
#immutability:-
fruits = ("apple","banana","cherry")
fruits[1] = "orange"
fruits

TypeError: 'tuple' object does not support item assignment

In [ ]:
#immutability:-
fruits = ("apple","banana","cherry")
fruits.append("orange")
fruits

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
#immutability:-
fruits = ("apple","banana","cherry")
fruits.remove("apple")
fruits

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
#immutability:-
fruits = ("apple","banana","cherry")
del fruits[1]
fruits

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
#immutability:-
fruits = ("apple","banana","cherry")
del fruits
fruits

NameError: name 'fruits' is not defined

In [ ]:
#immutability:-
fruits = ("apple","banana","cherry")
fruits.clear()
fruits

AttributeError: 'tuple' object has no attribute 'clear'

In [ ]:
#immutability:-
fruits = ("apple","banana","cherry")
fruits.pop()
fruits

AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
#immutability:-
fruits = ("apple","banana","cherry")
fruits.reverse()
fruits

AttributeError: 'tuple' object has no attribute 'reverse'

In [ ]:
#immutability:-
fruits = ("apple","banana","cherry")
fruits.sort()
fruits

AttributeError: 'tuple' object has no attribute 'sort'

In [ ]:
#immutability:-
fruits = ("apple","banana","cherry")
fruits.count()
fruits

TypeError: tuple.count() takes exactly one argument (0 given)

* Tuple operators:-
> Concatenation:-
* add value of elment in end of the elment to comb(process)

In [ ]:
#concatenation:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
combined_tuple = tuple1 + tuple2
print(combined_tuple)

(1, 2, 3, 4, 5, 6)

In [ ]:
#concatenation:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
combined_tuple = tuple2 + tuple1
print(combined_tuple)

(4, 5, 6, 1, 2, 3)

In [ ]:
#concatenation:
tuple1 = (1,2,3)
tuple2 = ("a","b","c")
combined_tuple = tuple1 + tuple2
print(combined_tuple)

(1, 2, 3, 'a', 'b', 'c')

In [ ]:
#concatenation:
tuple1 = (1,2,3)
tuple2 = ("a","b","c")
combined_tuple = tuple2 + tuple1
print(combined_tuple)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
#concatenation:
tuple1 = (1,2,3)
tuple2 = ("add","sub","mult")
combined_tuple = tuple1 + tuple2
print(combined_tuple)

(1, 2, 3, 'add', 'sub', 'mult')

In [ ]:
#concatenation:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
combined_tuple = tuple2 + tuple1
print(combined_tuple)

(4, 5, 6, 1, 2, 3)

* repetition:-
> repeating the tuple with contains(*)

In [ ]:
#repetition:-
tuple1 = (1,2,3)
repeated_tuple = tuple1 * 3
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
#repetition:-
tuple1 = (1,2,3)
repeated_tuple = tuple1 * 2
print(repeated_tuple)

(1, 2, 3, 1, 2, 3)

In [ ]:
#repetition:-
tuple1 = (1,2,3)
repeated_tuple = tuple1 * 4
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
#repetition:-
tuple1 = (1,2,3)
repeated_tuple = tuple1 * 5
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
#repetition:-
tuple1 = (1,2,3)
repeated_tuple = tuple1 * 6
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
#repetition:-
tuple1 = (1,2,3)
repeated_tuple = tuple1 * 7
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
#repetition:-
tuple1 = (1,2,3)
repeated_tuple = tuple1 * 8
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

* Tuple method:-
> Tuple have limited methods compared to list due to their immutability(unchangeable)
1. count():
> Return the number of occurences of a speceified value

In [ ]:
#count():-
number = (1,2,3,2,4,2,5)
count_of_2 = number.count(2)
print(count_of_2)

3

In [ ]:
#count():-
number = (1,2,3,2,4,2,5)
count_of_3 = number.count(3)
print(count_of_3)

1

In [ ]:
#count():-
number = (1,2,3,2,4,2,5)
count_of_4 = number.count(4)
print(count_of_4)

1

In [ ]:
#count():-
number = (1,2,3,2,4,2,5)
count_of_5 = number.count(5)
print(count_of_5)

1

In [ ]:
#count():-
number = (1,2,3,2,4,2,5)
count_of_6 = number.count(6)
print(count_of_6)

0

In [ ]:
#count():-
number = (1,2,3,2,4,2,5)
count_of_7 = number.count(7)
print(count_of_7)

0

In [ ]:
#count():-
number = (1,2,3,2,4,2,5)
count_of_8 = number.count(8)
print(count_of_8)

0

In [ ]:
#count():-
number = (1,2,3,2,4,2,5)
count_of_9 = number.count(9)
print(count_of_9)

0

2.  index:-
> Return the index of the first occurrence of a specified value
* which contain a position of a elment or a value

In [ ]:
#index:-
fruits = ("apple","banana","cherry")
index_of_banana = fruits.index("banana")
print(index_of_banana)

1

In [ ]:
#index:-
fruits = ("apple","banana","cherry")
index_of_cherry = fruits.index("cherry")

In [ ]:
#index:-
fruits = ("apple","banana","cherry")
index_of_apple = fruits.index("apple")
print(index_of_apple)

0

In [ ]:
#index:-
fruits = ("apple","banana","cherry")
index_of_banana = fruits.index("banana")
print(index_of_banana)

1

In [ ]:
#index:-
fruits = ("apple","banana","cherry")
index_of_cherry = fruits.index("cherry")
print(index_of_cherry)

2

In [ ]:
#index:-
fruits = ("apple","banana","cherry")
index_of_orange = fruits.index("orange")
print(index_of_orange)

ValueError: tuple.index(x): x not in tuple

In [ ]:
#index:-
fruits = ("apple","banana","cherry")
index_of_orange = fruits.index("orange")

ValueError: tuple.index(x): x not in tuple

* python sets:-
> IN python a set is a collection of unique elment and it id defined using braces{} and set by (comma,)
* set are used unordered, mutable,and do not allow duplicated elment
* set provide a variety of meyhod for performs common set opperator like union, intersetion ,difference and symmetric

In [ ]:
#creating set
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
#creating set
my_set = {1,2,3,4,5}

In [ ]:
#creating set
fruits = {"apple","banana","cherry"}
print(fruits)
numbers = {1,2,3,4,5}
print(numbers)
print(type(fruits))
print(fruits)

{'apple', 'cherry', 'banana'}
{1, 2, 3, 4, 5}
<class 'set'>
{'apple', 'cherry', 'banana'}

In [ ]:
#creating set
fruits = {"apple","banana","cherry"}
print(fruits)

{'apple', 'cherry', 'banana'}

In [ ]:
#creating set
numbers = {1,2,3,4,5}
print(numbers)
print(type(numbers))

{1, 2, 3, 4, 5}
<class 'set'>

* Duplicate items in a set:
> which contains a duplicate elments can be removed

In [ ]:
#duplicate items in a set:-
numbers = {1,2,4,345,5,6,6,57,6,5,34,2,645,644,4,4}
print(numbers)

{1, 2, 34, 4, 5, 6, 645, 644, 345, 57}

In [ ]:
#duplicate items in a set:-
numbers = {1,2,4,345,5,6,6,57,6,5,34,2,645,644,4,4}
print(numbers)

{1, 2, 34, 4, 5, 6, 645, 644, 345, 57}

* Add & update set items python:
1. Add items to a set in python:-
> In python we use the add() method to add an item to a set.

In [ ]:
#Add items to a set:-
number = {2,4,3,3,5,6,88,9,97,4,3,2,5,5,55,44}
number.add(100)
print(number)

{97, 2, 3, 4, 5, 6, 100, 9, 44, 55, 88}

In [ ]:
#Add items to a set:-
number = {2,4,3,3,5,6,88,9,97,4,3,2,5,5,55,44}
number.add(0)
print(number)

{0, 97, 2, 3, 4, 5, 6, 9, 44, 55, 88}

In [ ]:
#Add items to a set:-
number = {2,4,3,3,5,6,88,9,97,4,3,2,5,5,55,44}
number.add(1)
print(number)

{97, 2, 3, 4, 5, 6, 1, 9, 44, 55, 88}

In [ ]:
#Add items to a set:-
number = {2,4,3,3,5,6,88,9,97,4,3,2,5,5,55,44}
number.add(200)
print(number)

{97, 2, 3, 4, 5, 6, 200, 9, 44, 55, 88}

In [ ]:
#Add items to a set:-
number = {2,4,3,3,5,6,88,9,97,4,3,2,5,5,55,44}
print("initial set:",number)
number.add(300)
print("update set:",number)
print(number)

initial set: {97, 2, 3, 4, 5, 6, 9, 44, 55, 88}
update set: {97, 2, 3, 4, 5, 6, 9, 44, 300, 55, 88}
{97, 2, 3, 4, 5, 6, 9, 44, 300, 55, 88}

In [ ]:
#Add items to a set:-
number = {2,4,3,3,5,6,88,9,97,4,3,2,5,5,55,44}
print("initial set:",number)

initial set: {97, 2, 3, 4, 5, 6, 9, 44, 55, 88}

In [ ]:
#Add items to a set:-

number.add(400)
print("update set:",number)
print(number)

update set: {97, 2, 3, 4, 5, 6, 9, 44, 400, 55, 88}
{97, 2, 3, 4, 5, 6, 9, 44, 400, 55, 88}

2. update python set:-
 > update the elment or a char in process

In [ ]:
#update items to a set:-
companies = {"google","microsoft","apple"}
companies.update(["facebook","amazon"])
print(companies)

{'apple', 'amazon', 'microsoft', 'facebook', 'google'}

In [ ]:
#update items to a set:-
companies = {"google","microsoft","apple"}
companies.update(["facebook","flipkart"])
print(companies)

{'flipkart', 'apple', 'microsoft', 'facebook', 'google'}

In [ ]:
#update items to a set:-
companies = {"microsoft","apple"}
tech_companies = ["facebook","amazon", "mon","apple","google"]
tech_companies = companies.update(["microsoft"])
print(tech_companies)

None

In [ ]:
#update items to a set:-
companies = {"microsoft","apple"}
tech_companies = ["facebook","amazon", "mon","apple","google"]
update_companies = companies.update(["microsoft"])
print(tech_companies)

['facebook', 'amazon', 'mon', 'apple', 'google']

* remove an element from a set:-
> we use the discard() method to remove the specified elment from a set.

In [ ]:
#remove elment:
fruits = {"apple","banana","cherry"}
fruits.discard("banana")
print(fruits)

{'apple', 'cherry'}

In [ ]:
#remove elment:
fruits = {"apple","banana","cherry"}
fruits.discard("cherry")
print(fruits)

{'apple', 'banana'}

In [ ]:
#remove elment:
language = {"swift","java","python"}
language.discard("java")
print(language)
language.discard("c")
print(language)

{'python', 'swift'}
{'python', 'swift'}

In [ ]:
#remove elment:
language = {"swift","java","python"}
language.discard("java")
print(language)

{'python', 'swift'}

In [ ]:
#remove elment:
language = {"swift","java","python"}
language.discard("fruits")
print(language)

{'python', 'java', 'swift'}